@import "./mixins.scss";

.header {
	@include flex(space-between, row);
	background-color: #313131;
	padding: 1rem 0;
	color: white;
	cursor: pointer;
	a {
		color: white;
		padding: 0.5rem;
		text-decoration: none;
	}
}
.footer {
	background-color: #313131;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
}
